.list-container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 60px;
    width:100%;
}

.listItem {
    height: 20vh;
    width:75vw;
    background-color: #aab3de;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:  20px;
    margin: 2vh;
    padding-bottom:  70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.list-Contents{
    height: 10;
    text-align: center;
}

.listItem:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}